selector {
    property: value;
    property: value;
    property: value;

}

.heading
{
    color : coral;
}

#idName 
{
    color: red;
}

.className {
    color: greenyellow;
}

.classCheckbox
{
    color: red;
}

input:checked 
{
    width: 20px;
    height: 20px;
}

div:hover
{
    color: salmon;
}

div::before 
{
    /* content: "hello world"; */
}

div::first-letter
{
    color: slateblue;
}

#tagH div
{
    /* color:greenyellow; */
}

#tagH span
{
    /* color: blueviolet; */
}

#tagH > div
{
    color: orchid;
}

p span 
{
    color: darkgoldenrod;
}

p > span
{
    color: aqua;
}

.plusCombinators + div
{
    /* color: brown; */
}

.plusCombinators ~div 
{
    color:burlywood;
}
input[type]
{
    color: blue;
}
input[type="password"]
{
    background-color: silver;
}
input[title~="this"]
{
    background-color: darksalmon;
}
input[title^="input"]
{
    background-color: forestgreen;
}
input[title|="input"]
{
    background-color:black;
}
input[title$="input"]
{
    background-color: teal;
}
input[title*="input"]
{
    background-color: hotpink;
}