selector {
    property: value;
    property: value;
    property: value;

}

.heading
{
    color : coral;
}

#idName 
{
    color: red;
}

.className {
    color: greenyellow;
}

.classCheckbox
{
    color: red;
}

input:checked 
{
    width: 20px;
    height: 20px;
}

div:hover
{
    color: salmon;
}

div::before 
{
    /* content: "hello world"; */
}

div::first-letter
{
    color: slateblue;
}

#tagH div
{
    color: tomato;
}

#tagH span
{
    color: blueviolet;
}