.container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    /* grid-gap: 20px; */
    background-color: #ffdc85;
    width: 80%;
    margin: 0 auto;

}

.container > div
{
    background-color: lightskyblue;
    height: 200px;
    text-align: center;
    margin: 20px;
}